body {
  /* overflow: hidden; */
  min-width: 4.267rem;
  max-width: 10rem;
  /* flexible 给我们划分了 10 等份 */
  width: 10rem;
  margin: 0 auto;
  font-family: Arial, Helvetica;
  background-color: #f9f9f9;
}

/* 如果我们的屏幕超过了 750px  那么我们就按照 750设计稿来走 不会让我们页面超过750px */

@media screen and (min-width: 750px) {
  html {
    font-size: 75px !important;
  }
}
/* 头像与用户名模块 */
header {
  width: 100%;
  height: 4.067rem;
  background-color: #ff7200;
}
.userlogo {
  display: flex;
  justify-content: start;
  position: relative;
  top: 1.867rem;
  left: 0.8rem;
  width: 5.333rem;
  height: 1.333rem;
}
.avator {
  width: 1.333rem;
  height: 1.333rem;
  border-radius: 0.667rem;
  margin-right: 0.267rem;
  background-color: #ffffff;
}
.username {
  display: flex;
  align-items: center;
  font-size: 0.4rem;
  color: #ffffff;
}
/* 导航nav部分  */
nav {
  width: 100%;
  height: 2.76rem;
  background-color: #ffffff;
}
ul {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  width: 100%;
  height: 2.76rem;
}
ul li {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
ul li img {
  width: 1rem;
}
ul li p {
  margin-top: 0.267rem;
  font-size: 0.32rem;
}
/* <!-- 我的专属部分 -- >  */
.exclusive {
  width: 100%;
  height: 5.8rem;
  background-color: #ffffff;
  margin: 0.267rem 0 0.133rem 0;
}
.exclusive h2 {
  padding: 0.667rem 0 0.267rem 0.4rem;
  font-size: 0.4rem;
}

.exclusive ul li {
  height: 2rem;
}
.exclusive ul li img {
  width: 0.8rem;
}
/* 售后服务部分  */
.after-sale {
  display: flex;
  width: 100%;
  height: 3.533rem;
  padding: 0.467rem 0.307rem 0.533rem 0.307rem;
  background-color: #ffffff;
}
.after-sale span {
  flex: 1;
  margin: 0 0.133rem;
}

/* home导航部分  */
.home {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.333rem;
  border-top: 0.013rem solid #bfbfbf;
  background-color: #f7f7f7;
}
.home ul li {
  height: 1.333rem;
}
.home ul li img {
  width: 0.667rem;
}
.home ul li:nth-child(1) p {
  color: #ff7200;
}
.home ul li p {
  margin-top: 0.2rem;
  font-size: 0.267rem;
}
